.nav{
    border: 1px solid black;
    text-align: center;
    font-size: 50px;
}

.link1{
    color: blue;
}


.topics{
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

.link2{
    color: blue;
}

p{
    color: white;
    font-size: 20px;
    text-align: center;
}

.bing{
    text-align: center;
    font-size: 30px;
}

img{
    position:absolute;
    width: 50%;
    right: 375px;
}